.todo-container {
   position: absolute;
   top: 80px;
   left: calc(50% - 54rem / 2);
   width: 54rem;

   @media only screen and (max-width: 37.5em) {
      top: 50px;
      left: calc(50% - 33rem / 2);

      width: 33rem;
   }
}

.drag-n-drop {
   font-size: 1rem;
   color: $very-dark-grayish-blue-2;
   margin-top: 3rem;
   display: flex;
   justify-content: center;

   @media only screen and (max-width: 37.5em) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 12.5rem);
   }
}
